{$PUBLIC_IP_OR_DOMAIN_NAME} {
    handle /static/* {
        root * /exercise/exercise/staticfiles
        uri strip_prefix /static
        file_server
    }

    handle /media/* {
        root * /exercise/exercise/media
        uri strip_prefix /media
        file_server
    }

    handle {
        reverse_proxy exercise:8000
    }
}
