{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div class="container-lg text-center my-3">
    <div class="row m-3 justify-content-center">
        {% for body_part in body_parts %}
        <div class="col-sm-6 col-lg-3 mb-3">
            <div class="card">
                <img src="{{ body_part.image.url }}" class="card-img-top" style="height: 200px; width: 100%; object-fit: cover;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ body_part.name }}</h5>
                    <p class="card-text">{{ body_part.description }}</p>
                    <a href="{% url 'exercises' %}?body_part={{ body_part.id }}" class="btn btn-primary">See
                        Exercises</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}