<!-- templates/books/book_list.html -->
{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div class="container-fluid my-3 justify-content-center text-center">

    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#filterCard"
            aria-expanded="false" aria-controls="filterCard">
        Toggle Filters
    </button>

    <div class="collapse my-3 mx-auto" style="width: 100%;" id="filterCard">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Filters</h5>
            </div>
            <div class="card-body">
                <form method="get" class="row g-2 align-items-end">
                    <div class="col-12 col-md-auto">
                        <label for="id_name" class="form-label">Exercise name</label>
                        <input type="text" name="name" id="id_name" value="{{ filter.form.name.value|default:'' }}"
                               class="form-control">
                    </div>
                    <div class="col-12 col-md-auto">
                        <label for="id_description" class="form-label">Description</label>
                        <input type="text" name="description" id="id_description"
                               value="{{ filter.form.description.value|default:'' }}" class="form-control">
                    </div>
                    <div class="col-12 col-md-auto">
                        <label for="id_workout_type" class="form-label">Workout type</label>
                        <select name="workout_type" id="id_workout_type" class="form-select">
                            {% for value, label in filter.form.workout_type.field.choices %}
                            <option
                                    value="{{ value }}"
                                    {% if filter.form.workout_type.value == value %}selected{% endif %}>{{ label }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-md-auto">
                        <label for="id_body_part" class="form-label">Body part</label>
                        <select name="body_part" id="id_body_part" class="form-select">
                            {% for value, label in filter.form.body_part.field.choices %}
                            <option
                                    value="{{ value }}"
                                    {% if filter.form.body_part.value == value|stringformat:"s" %}
                            selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-md-auto">
                        <label for="id_muscle" class="form-label">Muscle</label>
                        <select name="muscle" id="id_muscle" class="form-select">
                            {% for value, label in filter.form.muscle.field.choices %}
                            <option
                                value="{{ value }}"
                                {% if filter.form.muscle.value == value|stringformat:"s" %}
                                selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-md-auto">
                        <label for="id_muscle_part" class="form-label">Muscle part</label>
                        <select name="muscle_part" id="id_muscle_part" class="form-select">
                            {% for value, label in filter.form.muscle_part.field.choices %}
                            <option
                                value="{{ value }}"
                                {% if filter.form.muscle_part.value == value|stringformat:"s" %}
                                selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto d-flex gap-2">
                        <button type="submit" class="btn btn-primary">Filter</button>
                        <a href="{% url 'exercises' %}" class="btn btn-danger">Reset filters</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-2">
    <div class="row justify-content-center">
        {% for exercise in page_obj %}
        <div class="col-sm-11 col-lg-6 mb-3">
            <div class="card">
                <div class="card-header">
                    <strong>Muscle part(s):</strong>
                    {% for part in exercise.muscle_part.all %}
                        {{ part.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        None
                    {% endfor %}
                    | <strong>Exercise type:</strong> {{ exercise.workout_type }}
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{ exercise.name }}</h5>
                    <p class="card-text">{{ exercise.description }}</p>
                    <img src="{{ exercise.image.url }}" class="card-img-top"
                         style="height: 300px; object-fit: contain;" alt="...">
                    <p class="mt-2" style="font-size: 0.85rem; font-style: italic; color: #555;">
                        Picture source: https://www.muscleandstrength.com/
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center mt-4">
            <div class="alert alert-info" role="alert">
                No exercises found in database.
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="d-flex justify-content-center align-items-center mt-1 gap-3">

        <!-- First Page Button -->
        <div style="width: 90px;" class="text-center">
            {% if page_obj.has_previous %}
            <a href="?{{ querystring }}&page=1" class="btn btn-primary">First</a>
            {% else %}
            <span class="btn btn-primary invisible">First</span>
            {% endif %}
        </div>

        <div style="width: 90px;" class="text-center">
            {% if page_obj.has_previous %}
            <a href="?{{ querystring }}&page={{ page_obj.previous_page_number }}" class="btn btn-primary">Previous</a>
            {% else %}
            <span class="btn btn-primary invisible">Previous</span>
            {% endif %}
        </div>

        <span class="mx-3">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        <div style="width: 90px;" class="text-center">
            {% if page_obj.has_next %}
            <a href="?{{ querystring }}&page={{ page_obj.next_page_number }}" class="btn btn-primary">Next</a>
            {% else %}
            <span class="btn btn-primary invisible">Next</span>
            {% endif %}
        </div>

        <div style="width: 90px;" class="text-center">
            {% if page_obj.has_next %}
            <a href="?{{ querystring }}&page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">Last</a>
            {% else %}
            <span class="btn btn-primary invisible">Last</span>
            {% endif %}
        </div>
    </div>
</div>

<script src="{% static 'apps/exercises/js/exercises.js' %}"></script>

{% endblock %}