DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=

# Database settings
DB_NAME=exercise_db
DB_USER=exercise_user
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

# Django settings
DJANGO_SETTINGS_MODULE=exercise.settings.production